<section class="section-padding">
  <div class="container">
    <h2 class="visually-hidden">About me</h2>
    <div class="about-me__preview">
      <div class="about-me__preview_descr">
        <p>
          I work with people all over the world to create impressive and
          <span class="primary-accent-text">functional</span>
          <span class="secondary-accent-text">websites</span> that reflect each
          client's unique personality.
        </p>
      </div>
      <div class="about-me__preview_photo">
        <picture>
          <source
            srcset="
              /img/about-me/about-me-desk.jpg    1x,
              /img/about-me/about-me-desk@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/about-me/about-me-tab.jpg    1x,
              /img/about-me/about-me-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/about-me/about-me-mob.jpg    1x,
              /img/about-me/about-me-mob@2x.jpg 2x
            "
          />
          <img src="/img/about-me/about-me-desk.jpg" alt="Lloyd Jefferson" />
        </picture>
      </div>
    </div>

    <ul class="about-me__accord_list accordion-container">
      <li class="about-me__accord_item">
        <button type="button" class="about-me__accord_trigger">
          about me
          <span class="about-me__accord_trigger_icon">
            <svg width="20" height="20">
              <use
                class="icon-arrow-down"
                href="/img/icon.svg#icon-arrow-down"
              ></use>
              <use
                class="icon-arrow-up"
                href="/img/icon.svg#icon-arrow-up"
              ></use>
            </svg>
          </span>
        </button>

        <div class="about-me__accord_panel">
          <p class="about-me__accord_text">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="about-me__accord_text">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. <br />
            I am always looking for opportunities for self-improvement. I
            actively study new technologies and practices to stay abreast of the
            latest innovations. I have a strong understanding of various
            programming languages, frameworks and architectural concepts that
            allow me to create efficient and scalable software.
          </p>
        </div>
      </li>
      <li class="about-me__accord_item">
        <button type="button" class="about-me__accord_trigger">
          role
          <span class="about-me__accord_trigger_icon">
            <svg width="20" height="20">
              <use
                class="icon-arrow-down"
                href="/img/icon.svg#icon-arrow-down"
              ></use>
              <use
                class="icon-arrow-up"
                href="/img/icon.svg#icon-arrow-up"
              ></use>
            </svg>
          </span>
        </button>
        <div class="about-me__accord_panel">
          <p class="about-me__accord_text">Frontend development</p>
          <p class="about-me__accord_text">HeadlessCMS,Wordpress</p>
          <p class="about-me__accord_text">Blender(enjoy)</p>
        </div>
      </li>
      <li class="about-me__accord_item">
        <button type="button" class="about-me__accord_trigger">
          education
          <span class="about-me__accord_trigger_icon">
            <svg width="20" height="20">
              <use
                class="icon-arrow-down"
                href="/img/icon.svg#icon-arrow-down"
              ></use>
              <use
                class="icon-arrow-up"
                href="/img/icon.svg#icon-arrow-up"
              ></use>
            </svg>
          </span>
        </button>
        <div class="about-me__accord_panel">
          <p class="about-me__accord_text">
            2018 - 2019 / Frontend Development Diploma, GoIT IT <br />
            School, New York
          </p>
          <p class="about-me__accord_text">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT <br />
            School, New York
          </p>
          <p class="about-me__accord_text">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div id="custom-swiper">
    <div class="swiper about-swiper-container swiper-list">
      <ul class="swiper-wrapper">
        <li class="swiper-slide about-swiper-skills">HTML/CSS</li>
        <li class="swiper-slide about-swiper-skills">JavaScript</li>
        <li class="swiper-slide about-swiper-skills">React</li>
        <li class="swiper-slide about-swiper-skills">Node.js</li>
        <li class="swiper-slide about-swiper-skills">React Native</li>
        <li class="swiper-slide about-swiper-skills">Vue.js</li>
        <li class="swiper-slide about-swiper-skills">Angular</li>
      </ul>
    </div>

    <button class="about-button-swip">
      <svg class="about-svg-swip" width="40" height="40">
        <use href="/img/icon.svg#icon-arrow-narrow-right-1" />
      </svg>
    </button>
  </div>
</section>
