<section class="section-padding">
  <div class="container">
    <h2 class="visually-hidden">About me</h2>
    <div class="about-me__preview">
      <div class="about-me__preview_descr">
        <p>
          I work with people all over the world to create impressive and
          <span class="primary-accent-text">functional</span>
          <span class="secondary-accent-text">websites</span> that reflect each
          client's unique personality.
        </p>
      </div>
      <div class="about-me__preview_photo">
        <picture>
          <source
            srcset="
              /img/about-me/about-me-desk.jpg    1x,
              /img/about-me/about-me-desk@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /img/about-me/about-me-tab.jpg    1x,
              /img/about-me/about-me-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/about-me/about-me-mob.jpg    1x,
              /img/about-me/about-me-mob@2x.jpg 2x
            "
          />
          <img src="/img/about-me/about-me-desk.jpg" alt="Lloyd Jefferson" />
        </picture>
      </div>
    </div>
  </div>
</section>
