<section class="benefits-section section-box" id="benefits-section">
  <div class="benefit-title container">
    <div class="div2">
      <h2 class="benefits_2">Benefits of working with me</h2>
    </div>
    <div class="benefit-box div2">
      <ul class="benefit-list">
        <li class="benefit-item">
          <svg class="benefit-svg">
            <use
              class="benfit-svg-use"
              href="/img/icon.svg#icon-user-01"
              width="24"
              height="24"
            ></use>
          </svg>
          <h3 class="benefit-title-one">Expertise</h3>
          <p class="benefit-text-one">
            As a highly experienced developer, I have deep knowledge of
            programming and website development.
          </p>
        </li>
        <li class="benefit-item">
          <svg class="benefit-svg">
            <use
              class="benfit-svg-use"
              href="/img/icon.svg#icon-message-chat-circle"
              width="24"
              height="24"
            ></use>
          </svg>
          <h3 class="benefit-title-one">Communication</h3>
          <p class="benefit-text-one">
            Understanding your needs and wants is my priority and I am always
            open to discussions and corrections.
          </p>
        </li>
        <li class="benefit-item">
          <svg class="benefit-svg">
            <use
              class="benfit-svg-use"
              href="/img/icon.svg#icon-brush-01"
              width="24"
              height="24"
            ></use>
          </svg>
          <h3 class="benefit-title-one">Art</h3>
          <p class="benefit-text-one">
            Thanks to my creative nature, I am ready to accept challenges and
            help you bring your ideas to life.
          </p>
        </li>
        <li class="benefit-item">
          <svg class="benefit-svg">
            <use
              class="benfit-svg-use"
              href="/img/icon.svg#icon-hourglass-02"
              width="24"
              height="24"
            ></use>
          </svg>
          <h3 class="benefit-title-one">Urgent execution</h3>
          <p class="benefit-text-one">
            I understand how important time is to you. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </p>
        </li>
      </ul>
      <a href="#work-together" class="benefit-button">Order the project</a>
    </div>
  </div>
</section>
