<section id="covers" class="section-padding">
  <h2 class="visually-hidden">Covers</h2>
  <div class="covers-container">
    <div class="covers-wrp">
      <ul class="top-line animation">
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/english-excellence.jpg   1x,
              ./img/covers/english-excellence2x.jpg 2x
            "
            src="./img/covers/english-excellence.jpg"
            alt="english excellence"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/energy-flow.jpg   1x,
              ./img/covers/energy-flow2x.jpg 2x
            "
            src="./img/covers/energy-flow.jpg"
            alt="energy flow"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="./img/covers/chego.jpg 1x, ./img/covers/chego2x.jpg 2x"
            src="./img/covers/chego.jpg"
            alt="chego"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/fruit-box.jpg   1x,
              ./img/covers/fruit-box2x.jpg 2x
            "
            src="./img/covers/fruit-box.jpg"
            alt="fruit box"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="./img/covers/mimino.jpg 1x, ./img/covers/mimino2x.jpg 2x"
            src="./img/covers/mimino.jpg"
            alt="mimino"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/english-excellence.jpg   1x,
              ./img/covers/english-excellence2x.jpg 2x
            "
            src="./img/covers/english-excellence.jpg"
            alt="english excellence"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/energy-flow.jpg   1x,
              ./img/covers/energy-flow2x.jpg 2x
            "
            src="./img/covers/energy-flow.jpg"
            alt="energy flow"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="./img/covers/chego.jpg 1x, ./img/covers/chego2x.jpg 2x"
            src="./img/covers/chego.jpg"
            alt="chego"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/fruit-box.jpg   1x,
              ./img/covers/fruit-box2x.jpg 2x
            "
            src="./img/covers/fruit-box.jpg"
            alt="fruit box"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="./img/covers/mimino.jpg 1x, ./img/covers/mimino2x.jpg 2x"
            src="./img/covers/mimino.jpg"
            alt="mimino"
            loading="lazy"
          />
        </li>
      </ul>
      <ul class="mid-line animation-reverse">
        <li class="list-item">
          <img
            class="cover"
            srcset="./img/covers/wallet.jpg 1x, ./img/covers/wallet2x.jpg 2x"
            src="./img/covers/wallet.jpg"
            alt="wallet"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/organic-vegetables.jpg   1x,
              ./img/covers/organic-vegetables2x.jpg 2x
            "
            src="./img/covers/organic-vegetables.jpg"
            alt="organic vegetables"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/vyshyvanka.jpg   1x,
              ./img/covers/vyshyvanka2x.jpg 2x
            "
            src="./img/covers/vyshyvanka.jpg"
            alt="vyshyvanka"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/starlight-studio.jpg   1x,
              ./img/covers/starlight-studio2x.jpg 2x
            "
            src="./img/covers/starlight-studio.jpg"
            alt="starlight studio"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/power-puls.jpg   1x,
              ./img/covers/power-puls2x.jpg 2x
            "
            src="./img/covers/power-puls.jpg"
            alt="power puls"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="./img/covers/wallet.jpg 1x, ./img/covers/wallet2x.jpg 2x"
            src="./img/covers/wallet.jpg"
            alt="wallet"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/organic-vegetables.jpg   1x,
              ./img/covers/organic-vegetables2x.jpg 2x
            "
            src="./img/covers/organic-vegetables.jpg"
            alt="organic vegetables"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/vyshyvanka.jpg   1x,
              ./img/covers/vyshyvanka2x.jpg 2x
            "
            src="./img/covers/vyshyvanka.jpg"
            alt="vyshyvanka"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/starlight-studio.jpg   1x,
              ./img/covers/starlight-studio2x.jpg 2x
            "
            src="./img/covers/starlight-studio.jpg"
            alt="starlight studio"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/power-puls.jpg   1x,
              ./img/covers/power-puls2x.jpg 2x
            "
            src="./img/covers/power-puls.jpg"
            alt="power puls"
            loading="lazy"
          />
        </li>
      </ul>
      <ul class="bottom-line animation">
        <li class="list-item">
          <img
            class="cover"
            srcset="./img/covers/mimino.jpg 1x, ./img/covers/mimino2x.jpg 2x"
            src="./img/covers/mimino.jpg"
            alt="mimino"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/fruit-box.jpg   1x,
              ./img/covers/fruit-box2x.jpg 2x
            "
            src="./img/covers/fruit-box.jpg"
            alt="fruit box"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="./img/covers/wallet.jpg 1x, ./img/covers/wallet2x.jpg 2x"
            src="./img/covers/wallet.jpg"
            alt="wallet"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/vyshyvanka.jpg   1x,
              ./img/covers/vyshyvanka2x.jpg 2x
            "
            src="./img/covers/vyshyvanka.jpg"
            alt="vyshyvanka"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="./img/covers/chego.jpg 1x, ./img/covers/chego2x.jpg 2x"
            src="./img/covers/chego.jpg"
            alt="chego"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="./img/covers/mimino.jpg 1x, ./img/covers/mimino2x.jpg 2x"
            src="./img/covers/mimino.jpg"
            alt="mimino"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/fruit-box.jpg   1x,
              ./img/covers/fruit-box2x.jpg 2x
            "
            src="./img/covers/fruit-box.jpg"
            alt="fruit box"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="./img/covers/wallet.jpg 1x, ./img/covers/wallet2x.jpg 2x"
            src="./img/covers/wallet.jpg"
            alt="wallet"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/vyshyvanka.jpg   1x,
              ./img/covers/vyshyvanka2x.jpg 2x
            "
            src="./img/covers/vyshyvanka.jpg"
            alt="vyshyvanka"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="./img/covers/chego.jpg 1x, ./img/covers/chego2x.jpg 2x"
            src="./img/covers/chego.jpg"
            alt="chego"
            loading="lazy"
          />
        </li>
      </ul>
      <ul class="additional-line animation-reverse">
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/english-excellence.jpg   1x,
              ./img/covers/english-excellence2x.jpg 2x
            "
            src="./img/covers/english-excellence.jpg"
            alt="english excellence"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/energy-flow.jpg   1x,
              ./img/covers/energy-flow2x.jpg 2x
            "
            src="./img/covers/energy-flow.jpg"
            alt="energy flow"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="./img/covers/chego.jpg 1x, ./img/covers/chego2x.jpg 2x"
            src="./img/covers/chego.jpg"
            alt="chego"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/fruit-box.jpg   1x,
              ./img/covers/fruit-box2x.jpg 2x
            "
            src="./img/covers/fruit-box.jpg"
            alt="fruit box"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="./img/covers/mimino.jpg 1x, ./img/covers/mimino2x.jpg 2x"
            src="./img/covers/mimino.jpg"
            alt="mimino"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/english-excellence.jpg   1x,
              ./img/covers/english-excellence2x.jpg 2x
            "
            src="./img/covers/english-excellence.jpg"
            alt="english excellence"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/energy-flow.jpg   1x,
              ./img/covers/energy-flow2x.jpg 2x
            "
            src="./img/covers/energy-flow.jpg"
            alt="energy flow"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="./img/covers/chego.jpg 1x, ./img/covers/chego2x.jpg 2x"
            src="./img/covers/chego.jpg"
            alt="chego"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="
              ./img/covers/fruit-box.jpg   1x,
              ./img/covers/fruit-box2x.jpg 2x
            "
            src="./img/covers/fruit-box.jpg"
            alt="fruit box"
            loading="lazy"
          />
        </li>
        <li class="list-item">
          <img
            class="cover"
            srcset="./img/covers/mimino.jpg 1x, ./img/covers/mimino2x.jpg 2x"
            src="./img/covers/mimino.jpg"
            alt="mimino"
            loading="lazy"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
