<section class="faq-section section-padding">
  <div class="container">
    <h2 class="faq-section-title">FAQ</h2>
    <ul class="faq-list accordion-container">
      <li class="faq-item ac">
        <h3 class="faq-item-title ac-header">
          <button class="faq-item-btn ac-trigger" type="button">
            What programming languages ​​are most often used in your project?
          </button>
        </h3>
        <div class="faq-item-description-container ac-panel">
          <p class="faq-item-description ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <h3 class="faq-item-title ac-header">
          <button class="faq-item-btn ac-trigger" type="button">
            What are the deadlines for the project?
          </button>
        </h3>
        <div class="faq-item-description-container ac-panel">
          <p class="faq-item-description ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <h3 class="faq-item-title ac-header">
          <button class="faq-item-btn ac-trigger" type="button">
            What payment methods do you accept?
          </button>
        </h3>
        <div class="faq-item-description-container ac-panel">
          <p class="faq-item-description ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <h3 class="faq-item-title ac-header">
          <button class="faq-item-btn ac-trigger" type="button">
            How can I contact you?
          </button>
        </h3>
        <div class="faq-item-description-container ac-panel">
          <p class="faq-item-description ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <h3 class="faq-item-title ac-header">
          <button class="faq-item-btn ac-trigger" type="button">
            Do you provide advice or support?
          </button>
        </h3>
        <div class="faq-item-description-container ac-panel">
          <p class="faq-item-description ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <h3 class="faq-item-title ac-header">
          <button class="faq-item-btn ac-trigger" type="button">
            What does the process of developing a software product look like
            from idea to implementation?
          </button>
        </h3>
        <div class="faq-item-description-container ac-panel">
          <p class="faq-item-description ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
