<header class="header container"></header>
  <div class="header-left">
    <img
      srcset="./img/header/developer@1x.png 1x,
              ./img/header/developer@2x.png 2x"
      src="./img/header/developer@1x.png"
      alt="Photo_Jefferson"
    />
    <svg class="icon-header-logo" width="84px" height="19px">
      <use href="./img/icons.svg#icon-jefferson"></use>
    </svg>
  </div>
  <div class="header-right">
    <svg class="header-icon-burger" width="28px" height="28px">
      <use href="./img/icom.svg#icon-burger"></use>
    </svg>
  </div>
  <div class="menu-center">
    <p class="menu-center-open">Menu</p>
    <ul class="menu-center-list">
      <li class="menu-center-item">
        <a href="#about-us">About me</a>
      </li>
      <li class="menu-center-item">
        <a href="#benefits">Benefits</a>
      </li>
      <li class="menu-center-item">
        <a href="#projects">Projects</a>
      </li>
      <li class="menu-center-item">
        <a href="#faq">FAQ</a>
      </li>
    </ul>
  </div>
  <a class="btn-menu-tablet" href="#footer-form"> Order the project </a>
</header>
<div class="modal-header">
  <div class="header-menu">
    <button
      class="modal-btn-close"
      id="close-btn"
      type="button"
      aria-label="close modal window"
    >
      <svg class="menu-icon-close" width="28px" height="28px">
        <use href="./img/icons.svg#icon-close-mob-menu-bt"></use>
      </svg>
    </button>
    <ul class="menu-list">
      <li class="menu-item">
        <a href="#about-us">About me</a>
      </li>
      <li class="menu-item">
        <a href="#benefits">Benefits</a>
      </li>
      <li class="menu-item">
        <a href="#projects">Projects</a>
      </li>
      <li class="menu-item">
        <a href="#faq">FAQ</a>
      </li>
    </ul>
    <a class="btn-menu" href="#footer-form">Order the project</a>
  </div>
</div>