
<section class="hero section">
  <div class="container">
    <div class="hero-wrapper">
      <h1 class="hero-title">
        Hello.<br>
        I’m Fullstack developer
        Lloyd Jefferson.
      </h1>
      <div class="hero-link-box">
        <ul class="hero-social-list">
          <li class="hero-social-list-item">
            <a href="https://www.instagram.com/goitclub/" class="hero-social-link" target="_blank">IG</a>
          </li>

          <li class="hero-social-list-item">
            <a href="https://www.facebook.com/goITclub/" class="hero-social-link" target="_blank">FB</a>
          </li>

          <li class="hero-social-list-item">
            <a href="https://www.youtube.com/c/GoIT" class="hero-social-link" target="_blank">YT</a>
          </li>

          <li class="hero-social-list-item">
            <a href="https://github.com/MykhailoHozhyi/young-padawans-portfolio" class="hero-social-link"
              target="_blank">GH</a>
          </li>
        </ul>
        <address class="hero-address">
          <a href="mailto: lloydjefferson@gmail.com" class="hero-address-email">lloydjefferson@gmail.com</a>
        </address>
      </div>
    </div>
  </div>
</section>