<section class="hero-section">
  <div class="container">
    <h1 class="hero-title">
      Hello. <br />I'm Fullstack developer Lloyd Jefferson.
    </h1>
    <div class="hero-links-wrapper">
      <ul class="hero-socials__list">
        <li class="hero-socials__item">
          <a
            target="_blank"
            class="hero-socials__link"
            href="https://www.instagram.com/goitclub/"
            >IG</a
          >
        </li>
        <li class="hero-socials__item">
          <a
            target="_blank"
            class="hero-socials__link"
            href="https://www.facebook.com/goITclub/"
            >FB</a
          >
        </li>
        <li class="hero-socials__item">
          <a
            target="_blank"
            class="hero-socials__link"
            href="https://www.youtube.com/c/GoIT"
            >YT</a
          >
        </li>
        <li class="hero-socials__item">
          <a target="_blank" class="hero-socials__link" href="">GH</a>
        </li>
      </ul>
      <address class="hero-address">
        <a
          target="_blank"
          class="hero-address__link"
          href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
      </address>
    </div>
  </div>
</section>
