
  <body>
    <div class="container">
    <section class="hero section">
      <div>
        <h1 class="hero-title">
          Hello. <br />I'm Fullstack developer Lloyd Jefferson.
        </h1>
      </div>
      <div class="hero-links-section">
        <ul class="hero-list">
          <li class="hero-item">
            <a class="hero-links" href="https://www.instagram.com/goitclub/"
              >IG</a
            >
          </li>
          <li class="hero-item">
            <a class="hero-links" href="https://www.facebook.com/goITclub/"
              >FB</a
            >
          </li>
          <li class="hero-item">
            <a class="hero-links" href="https://www.youtube.com/c/GoIT">YT</a>
          </li>
          <li class="hero-item">
            <a class="hero-links" href="">GH</a>
          </li>
          <li class="hero-item">
            <a class="hero-links" href="">lloydjefferson@gmail.com</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
  </body>