<section class="container" id="projects-section">
  <div class="project-container">
    <h2 class="projects-title">Projects</h2>

    <div class="swiper project-swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="projects-title-block">
            <ul class="projects-list">
              <li class="projects-list-item">#react</li>
              <li class="projects-list-item">#js</li>
              <li class="projects-list-item">#node js</li>
              <li class="projects-list-item">#git</li>
            </ul>
            <h3 class="project-head-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>

            <div class="main-btn project-btn">
              <a
                href="https://github.com/Jlomka54/project-team-10"
                target="_blank"
                >See project</a
              >
            </div>

            <!-- <button class="main-btn project-btn">
              <a href="https://github.com/Jlomka54/project-team-10" target="_blank">See project</a>
            </button> -->
          </div>
          <div class="projects-img-block">
            <picture>
              <source
                srcset="
                  ./img/projects/books-app-mob.jpg   1x,
                  ./img/projects/books-app-mob2x.jpg 2x
                "
                media="(max-width:767px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  ./img/projects/books-app-tabl.jpg   1x,
                  ./img/projects/books-app-tabl2x.jpg 2x
                "
                media="(max-width:1439px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./img/projects/books-app-desk.jpg   1x,
                  ./img/projects/books-app-desk2x.jpg 2x
                "
                media="(min-width:1440px)"
                type="image/jpeg"
              />
              <img src="./img/projects/books-app-mob.jpg" alt="book app" />
            </picture>
          </div>
        </li>

        <li class="swiper-slide">
          <div class="projects-title-block">
            <ul class="projects-list">
              <li class="projects-list-item">#react</li>
              <li class="projects-list-item">#js</li>
              <li class="projects-list-item">#node js</li>
              <li class="projects-list-item">#git</li>
            </ul>
            <h3 class="project-head-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <button class="main-btn project-btn">
              <a
                href="https://github.com/Jlomka54/project-team-10"
                target="_blank"
                >See project</a
              >
            </button>
          </div>
          <div class="projects-img-block">
            <picture>
              <source
                srcset="
                  ./img/projects/pet-love-mob.jpg   1x,
                  ./img/projects/pet-love-mob2x.png 2x
                "
                media="(max-width:767px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  ./img/projects/pet-love-tabl.jpg   1x,
                  ./img/projects/pet-love-tabl2x.jpg 2x
                "
                media="(max-width:1439px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./img/projects/pet-love-desk.jpg   1x,
                  ./img/projects/pet-love-desk2x.jpg 2x
                "
                media="(min-width:1440px)"
                type="image/jpeg"
              />
              <img src="./img/projects/pet-love-mob.jpg" alt="pet-love" />
            </picture>
          </div>
        </li>

        <li class="swiper-slide">
          <div class="projects-title-block">
            <ul class="projects-list">
              <li class="projects-list-item">#react</li>
              <li class="projects-list-item">#js</li>
              <li class="projects-list-item">#node js</li>
              <li class="projects-list-item">#git</li>
            </ul>
            <h3 class="project-head-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <button class="main-btn project-btn">
              <a
                href="https://github.com/Jlomka54/project-team-10"
                target="_blank"
                >See project</a
              >
            </button>
          </div>

          <div class="projects-img-block">
            <picture>
              <source
                srcset="
                  ./img/projects/register-form-mob.jpg   1x,
                  ./img/projects/register-form-mob2x.png 2x
                "
                media="(max-width:767px)"
                type="image/jpeg"
              />

              <source
                srcset="
                  ./img/projects/register-form-tabl.jpg   1x,
                  ./img/projects/register-form-tabl2x.jpg 2x
                "
                media="(max-width:1439px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  ./img/projects/register-form-desk.jpg   1x,
                  ./img/projects/register-form-desk2x.jpg 2x
                "
                media="(min-width:1440px)"
                type="image/jpeg"
              />
              <img
                src="./img/projects/register-form-mob.jpg"
                alt="register-form"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>

    <div class="project-arrow">
      <div class="swiper-button-prev">
        <div class="btn-circle">
          <svg class="swiper-button-icon icon-left" width="24" height="24">
            <use href="./img/icon.svg#icon-arrow-arrow-left"></use>
          </svg>
        </div>
      </div>
      <div class="swiper-button-next">
        <div class="btn-circle">
          <svg class="swiper-button-icon icon-right" width="24" height="24">
            <use href="./img/icon.svg#icon-arrow-narrow-right-1"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
