<section class="projects-section container">
  <h2 class="projects-title">Projects</h2>

  <div class="projects-container swiper">
    <div class="swiper-slide">
      <div class="projects-title-block">
        <ul class="projects-list">
          <li class="projects-list-item">#react</li>
          <li class="projects-list-item">#js</li>
          <li class="projects-list-item">#node js</li>
          <li class="projects-list-item">#git</li>
        </ul>
        <h3 class="projects-main-title">
          Programming Across Borders: Ideas, Technologies, Innovations
        </h3>
        <button class="main-btn project-btn">
          <a href="https://github.com/Jlomka54/project-team-10">See project</a>
        </button>
      </div>
      <div class="projects-img-block">
        <picture>
          <source
            srcset="
              ./img/projects/books-app-mob.jpg 1x,
              ./img/projects/books-app-mob2x.jpg 2x
            "
            media="(max-width:767px)"
            type="image/jpeg"
          />

          <source
            srcset="
              ./img/projects/books-app-tabl.jpg   1x,
              ./img/projects/books-app-tabl2x.jpg 2x
            "
            media="(max-width:1279px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/projects/books-app-desk.jpg   1x,
              ./img/projects/books-app-desk2x.jpg 2x
            "
            media="(max-width:1440px)"
            type="image/jpeg"
          />
          <img src="./img/projects/books-app-mob.jpg" alt="book app" />
        </picture>
      </div>
    </div>

    <div class="swiper-slide visually-hidden">
      <div class="projects-title-block">
        <ul class="projects-list">
          <li class="projects-list-item">#react</li>
          <li class="projects-list-item">#js</li>
          <li class="projects-list-item">#node js</li>
          <li class="projects-list-item">#git</li>
        </ul>
        <h3 class="projects-main-title">
          Programming Across Borders: Ideas, Technologies, Innovations
        </h3>
        <button class="main-btn project-btn">
          <a href="https://github.com/Jlomka54/project-team-10">See project</a>
        </button>
      </div>
      <div class="projects-img-block">
        <picture>
          <source
            srcset="
              ./img/projects/pet-love-mob.jpg   1x,
              ./img/projects/pet-love-mob2x.png 2x
            "
            media="(max-width:767px)"
            type="image/jpeg"
          />

          <source
            srcset="
              ./img/projects/pet-love-tabl.jpg   1x,
              ./img/projects/pet-love-tabl2x.jpg 2x
            "
            media="(max-width:1279px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/projects/pet-love-desk.jpg   1x,
              ./img/projects/pet-love-desk2x.jpg 2x
            "
            media="(max-width:1440px)"
            type="image/jpeg"
          />
          <img src="./img/projects/pet-love-mob.jpg" alt="pet-love" />
        </picture>
      </div>
    </div>

    <div class="swiper-slide visually-hidden">
      <div class="projects-title-block">
        <ul class="projects-list">
          <li class="projects-list-item">#react</li>
          <li class="projects-list-item">#js</li>
          <li class="projects-list-item">#node js</li>
          <li class="projects-list-item">#git</li>
        </ul>
        <h3 class="projects-main-title">
          Programming Across Borders: Ideas, Technologies, Innovations
        </h3>
        <button class="main-btn project-btn">
          <a href="https://github.com/Jlomka54/project-team-10">See project</a>
        </button>
      </div>

      <div class="projects-img-block">
        <picture>
          <source
            srcset="
              ./img/projects/register-form-mob.jpg   1x,
              ./img/projects/register-form-mob2x.png 2x
            "
            media="(max-width:767px)"
            type="image/jpeg"
          />

          <source
            srcset="
              ./img/projects/register-form-tabl.jpg   1x,
              ./img/projects/register-form-tabl2x.jpg 2x
            "
            media="(max-width:1279px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./img/projects/register-form-desk.jpg   1x,
              ./img/projects/register-form-desk2x.jpg 2x
            "
            media="(max-width:1440px)"
            type="image/jpeg"
          />
          <img src="./img/projects/register-form-mob.jpg" alt="register-form" />
        </picture>
      </div>
    </div>
  </div>

  <div class="projects-swiper">
    <button type="button" class="swiper-button-prev swipe-btn">
      <svg width="25" height="24">
        <use href="./img/icon.svg#icon-arrow-arrow-left"></use>
      </svg>
    </button>
    <button type="button" class="swiper-button-next swipe-btn">
      <svg width="25" height="24">
        <use href="./img/icon.svg#icon-arrow-narrow-right-1"></use>
      </svg>
    </button>
  </div>
</section>
