<section class="section-padding">
  <div class="container container-style">
    <h2 class="review-title">Reviews</h2>
    <div class="swiper swiper-review">
      <ul class="swiper-wrapper swiper-review-wrapper"></ul>
      <div class="review-btn-wraper">
        <button type="button" class="review-swiper-button-prev">
          <svg width="24" height="24">
            <use href="/img/icon.svg#icon-arrow-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="review-swiper-button-next">
          <svg width="24" height="24">
            <use href="./img/icon.svg#icon-arrow-narrow-right-1"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
