<section class="work-together" id="work-together">
  <div class="container wt-container">
    <div class="wt-tittle-wrapper">
      <div class="wt-thumb">
        <picture class="wt-avatar" loading="lazy">
          <source srcset="/img/work-together/wt-user-desk.png 1x, /img/work-together/wt-user-desk@2x.png 2x"
            media="(min-width: 768px)" />
          <source srcset="/img/work-together/wt-user-mob.png 1x, /img/work-together/wt-user-mob@2x.png 2x"
            media="(max-width: 767px)" />
          <img src="/img/work-together/wt-user-mob.png" alt="avatar" />
        </picture>
      </div>
      <h2 class="wt-tittle">let's <span class="wt-tittle-col-accent">work</span> <span class="wt-tittle-h-accent">together</span></h2>
    </div>
    <form class="wt-form">
      <div class="wt-form-wrapper">
        <input class="wt-input" name="client_email" type="email" placeholder="clients@gmail.com"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required />
        <input class="wt-input" name="client_comment" type="text" placeholder="comments" required />
      </div>
      <button class="wt-btn" type="submit">send</button>
    </form>
    <ul class="wt-contacts">
      <li class="wt-contacts-item"><a href="mailto:lloydjefferson@gmail.com"
          target="_blank">lloydjefferson@gmail.com</a></li>
      <li class="wt-contacts-item"><a href="tel:+3801111111111" target="_blank">+380 11 1111 11 11</a></li>
    </ul>
  </div>
</section>