.about-me__preview {
  margin-bottom: 32px;
}

.about-me__preview > * {
  border-radius: 24px;
}

.about-me__preview_descr {
  background-color: #242527;
  padding: 32px;

  min-height: 500px;

  & p {
    font-size: 24px;
    font-weight: 500;

    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }
}
.primary-accent-text {
  color: var(--basic-color-bt);
}
.secondary-accent-text {
  color: rgba(250, 250, 250, 0.4);
}

.about-me__preview_photo {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .about-me__preview {
    margin-bottom: 64px;
  }
  .about-me__preview_descr {
    padding: 64px;
    min-height: 700px;

    & p {
      max-width: 552px;

      font-size: 38px;

      line-height: 1.05;
    }
  }
}

@media screen and (max-width: 1439px) {
  .about-me__preview > *:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me__preview {
    display: flex;
    gap: 16px;

    margin-bottom: 96px;
  }
}

.about-me__accord_item {
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.about-me__accord_trigger {
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 0;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: rgba(250, 250, 250, 0.4);

  width: 100%;
  height: 40px;
}

.about-me__accord_trigger_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.icon-arrow-down,
.icon-arrow-up {
  fill: transparent;
  stroke: #fafafa;

  transition: var(--primary-transition);
}

.about-me__accord_item .icon-arrow-up,
.about-me__accord_item.is-active .icon-arrow-down {
  opacity: 0;
}

.about-me__accord_item .icon-arrow-down,
.about-me__accord_item.is-active .icon-arrow-up {
  opacity: 1;
}

.about-me__accord_panel {
  padding-top: 12px;

  clip-path: inset(0 0 0 0);
}

.about-me__accord_text {
  font-weight: 500;

  line-height: 1.5;
  letter-spacing: -0.02em;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.about-me__accord_item:first-child {
  & .about-me__accord_text:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .about-me__accord_panel {
    padding-top: 8px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me__accord_panel {
    max-width: 680px;
    margin-left: auto;
  }

  .about-me__accord_text {
    max-width: 612px;
  }
}
