:root {
  scroll-behavior: smooth;

  --primary-text-hex: #fafafa;
  --arrow-color-inactive: #3b3b3b;

  --primary-transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);

  body[data-theme='red'] {
    --basic-color-bt: #ed3b44;
    --basic-hovered-color-btn: #e0373f;
  }

  body[data-theme='blue'] {
    --basic-color-bt: #0041e8;
    --basic-hovered-color-btn: #003ddb;
  }

  body[data-theme='yellow'] {
    --basic-color-bt: #c6e327;
    --basic-hovered-color-btn: #c0d623;
  }
}

body {
  color: var(--primary-text-hex);
  font-family: 'Inter Tight', sans-serif;
  overflow-x: hidden;
  font-optical-sizing: auto;
  font-style: normal;

  background-color: #1c1d20;
}

/* =======================
Utils
========================== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-btn {
  font-weight: 600;
  letter-spacing: -0.04em;

  color: var(--primary-text-hex);
  border-radius: 60px;

  width: 163px;
  height: 55px;
  border: none;
  background-color: var(--basic-color-bt);
  padding: 14px 31px;

  transition: background-color var(--primary-transition);
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--basic-hovered-color-btn);
}

@media screen and (min-width: 768px) {
  .main-btn {
    font-size: 16px;
    padding: 18px 24px;
    min-width: 168px;
    height: 50px;
  }
}

/* =======================
Global
========================== */

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}

.section-padding {
  padding: 32px 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .section-padding {
    padding: 48px 0;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .section-padding {
    padding: 82px 0;
  }
}

.section-title {
  font-weight: 500;
  font-size: 90px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-text-hex);
}

.section-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--primary-text-hex);
}
