.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  background-color: var(--basic-color-bt);
  width: 55px;
  height: 55px;
  color: #fff;
  border: none;
  padding: 0;
  border-radius: 50%;
  z-index: 1000;
  transition: opacity 1s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.up-btn-show {
  opacity: 1;
  visibility: visible;
}

.scroll-to-top svg {
  transform: rotate(90deg);
  fill: transparent;
  stroke: #fafafa;
}

.scroll-to-top:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  background-color: var(--basic-hovered-color-btn);
}

.no-scroll {
  overflow: hidden;
}

.theme-picker_container {
  position: absolute;
  top: 70px;
  right: 18px;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 35px;
  height: 35px;

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: pointer;
}

.theme-picker_container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;

  left: 0;
  top: 0;
  z-index: -1;
  border-radius: 10px;
}

.theme-picker_container::after {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #c6e327,
    #48ff00,
    #00ffd5,
    #0041e8,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -1px;
  left: -1px;
  background-size: 400%;
  z-index: -1;
  filter: blur(1px);
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  animation: glowing 20s linear infinite;
  border-radius: 50%;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.theme-picker_container > * {
  position: absolute;
  bottom: 0;
  z-index: -2;

  width: 30px;
  height: 30px;
  background-clip: padding-box;

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;

  transition: transform var(--primary-transition);
}

.theme-picker_red {
  background-color: #ed3b44;
}

.theme-picker_blue {
  background-color: #0041e8;
}

.theme-picker_green {
  background-color: #2b4441;
}

.theme-picker_yellow {
  background-color: #c6e327;
}

@media (hover: hover) {
  .theme-picker_container:hover .theme-picker_red {
    transform: translateY(calc(30px + 4px));
  }

  .theme-picker_container:hover .theme-picker_blue {
    transform: translateY(calc((30px + 4px) * 2));
  }

  .theme-picker_container:hover .theme-picker_green {
    transform: translateY(calc((30px + 4px) * 3));
  }

  .theme-picker_container:hover .theme-picker_yellow {
    transform: translateY(calc((30px + 4px) * 4));
  }
}

@media (hover: none) {
  .theme-picker_container:focus .theme-picker_red {
    transform: translateY(calc(30px + 4px));
  }

  .theme-picker_container:focus .theme-picker_blue {
    transform: translateY(calc((30px + 4px) * 2));
  }

  .theme-picker_container:focus .theme-picker_green {
    transform: translateY(calc((30px + 4px) * 3));
  }

  .theme-picker_container:focus .theme-picker_yellow {
    transform: translateY(calc((30px + 4px) * 4));
  }
}

@media screen and (min-width: 768px) {
  .header-box {
    max-width: 768px;
  }

  .header-wrap {
    width: 100%;
    padding: 32px 32px 0px 32px;
  }
  .header-dropdown {
    display: inline-block;
    text-align: center;
    position: relative;
    width: 67px;
  }

  .dropdown-toggle {
    padding: 10px;
    border: none;
    background-color: transparent;
    font-family: inherit;
    color: #fafafa;
    font-weight: 500;
    position: relative;
    letter-spacing: -0.02em;
    cursor: pointer;
    transition: color 300ms ease;
  }

  .dropdown-toggle::after {
    content: '';
    position: absolute;
    left: 10px;
    bottom: 6px;
    width: 40px;
    height: 2px;
    background-color: #fafafa;
    transition: background-color 300ms ease;
  }

  .dropdown-toggle:hover,
  .dropdown-toggle:focus {
    color: var(--basic-color-bt);
  }

  .dropdown-toggle:hover::after,
  .dropdown-toggle:focus::after {
    background-color: var(--basic-color-bt);
  }

  .dropdown-menu {
    display: flex;
    position: absolute;
    left: 0;
    flex-direction: column;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 700ms ease, opacity 700ms ease, visibility 700ms ease;
    z-index: 1;
  }
  .dropdown-menu.show {
    max-height: 200px;
    opacity: 1;
    visibility: visible;
  }
  .header-menu-link {
    color: #fafafa;
    font-weight: 500;
    letter-spacing: -0.02em;
    transition: color 300ms ease, text-decoration 300ms ease;
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: var(--basic-hovered-color-btn);
    text-decoration: underline;
  }

  .header-order-btn {
    display: inline-block;
    padding: 18px 24px;
    border-radius: 60px;
    background-color: var(--basic-color-bt);
    color: #fafafa;
    max-width: 163px;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.02em;
    transition: background-color var(--primary-transition),
      box-shadow var(--primary-transition);
  }

  .header-order-btn:hover,
  .header-order-btn:focus {
    background-color: var(--basic-hovered-color-btn);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  }

  .theme-picker_container {
    top: 35px;
    right: calc(50% - 95px);
  }

  .header-btn {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .header-box {
    max-width: 1440px;
  }
  .header-wrap {
    max-width: 1440px;
  }
}

/* mob menu */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: 99999;
  overflow-y: hidden;
  visibility: hidden;
}

.is-open {
  transform: translate(0%, 0%) scale(1);
  opacity: 1;
  visibility: visible;
}

.mob-wrap {
  position: absolute;

  top: 0;
  right: 0;
  min-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 302px 60px 64px 60px;
  overflow-y: scroll;

  transform: translateX(100%);
  transition: transform 350ms ease;
  z-index: 999;
}
.is-open {
  transform: translateX(0);
}

body[data-theme='red'] .mob-wrap {
  background-image: url('../img/hero/red-hero-bg-mob.webp'),
    linear-gradient(to right, #1c1d20, #1c1d20);
}

body[data-theme='blue'] .mob-wrap {
  background-image: url('../img/hero/blue-hero-bg-mob.webp'),
    linear-gradient(to right, #1c1d20, #1c1d20);
}

body[data-theme='green'] .mob-wrap {
  background-image: url('../img/hero/green-hero-bg-mob.webp'),
    linear-gradient(to right, #1c1d20, #1c1d20);
}

body[data-theme='yellow'] .mob-wrap {
  background-image: url('../img/hero/yellow-hero-bg-mob.webp'),
    linear-gradient(to right, #1c1d20, #1c1d20);
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  body[data-theme='red'] .mob-wrap {
    background-image: url('../img/hero/red-hero-bg-mob@2x.webp'),
      linear-gradient(to right, #1c1d20, #1c1d20);
  }

  body[data-theme='blue'] .mob-wrap {
    background-image: url('../img/hero/blue-hero-bg-mob@2x.webp'),
      linear-gradient(to right, #1c1d20, #1c1d20);
  }

  body[data-theme='green'] .mob-wrap {
    background-image: url('../img/hero/green-hero-bg-mob@2x.webp'),
      linear-gradient(to right, #1c1d20, #1c1d20);
  }

  body[data-theme='yellow'] .mob-wrap {
    background-image: url('../img/hero/yellow-hero-bg-mob@2x.webp'),
      linear-gradient(to right, #1c1d20, #1c1d20);
  }
}

.mob-btn-close {
  position: absolute;
  top: 32px;
  right: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  padding: 0;
  fill: #fafafa;
}

.mob-btn-close:hover,
.mob-btn-close:focus {
  stroke: var(--basic-hovered-color-btn);
}

.mob-menu {
  flex: auto;
}

.mob-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.mob-link {
  color: #fafafa;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
  text-decoration: underline;
}

.modal-btn-order {
  color: #fafafa;
  border-radius: 60px;
  padding: 14px 30px;
  background-color: var(--basic-color-bt);
}
