.header-box {
  margin: 0 auto;
  max-width: 375px;
  position: relative;
}
.header-wrap {
  position: absolute;
  z-index: 2;
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 32px 16px 0px 16px;
}

.header-logo {
  display: flex;
  gap: 8px;
}

.header-logo-text {
  font-weight: 500;
  color: #fafafa;
  letter-spacing: -0.02em;
}

.header-dropdown {
  display: none;
}

.header-order-btn {
  display: none;
}

.header-btn {
  border: none;
  display: flex;
  background-color: transparent;
  stroke: #fafafa;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  background-color: #ed3b44;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  z-index: 1000;
  transition: opacity 1s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}
.scroll-to-top.up-btn-show {
  opacity: 1;
  visibility: visible;
}

.scrol-to-up-img {
  transform: rotate(90deg);
  fill: transparent;
  stroke: #fafafa;
}

.scroll-to-top:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  background-color: #e0373f;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .header-box {
    max-width: 768px;
  }

  .header-wrap {
    width: 100%;
    padding: 32px 32px 0px 32px;
  }
  .header-dropdown {
    display: inline-block;
    text-align: center;
    position: relative;
    width: 67px;
  }

  .dropdown-toggle {
    padding: 10px;
    border: none;
    background-color: transparent;
    font-family: inherit;
    color: #fafafa;
    font-weight: 500;
    position: relative;
    letter-spacing: -0.02em;
    cursor: pointer;
    transition: color 300ms ease;
  }

  .dropdown-toggle::after {
    content: '';
    position: absolute;
    left: 10px;
    bottom: 6px;
    width: 40px;
    height: 2px;
    background-color: #fafafa;
    transition: background-color 300ms ease;
  }

  .dropdown-toggle:hover,
  .dropdown-toggle:focus {
    color: var(--basic-color-bt);
  }

  .dropdown-toggle:hover::after,
  .dropdown-toggle:focus::after {
    background-color: var(--basic-color-bt);
  }

  .dropdown-menu {
    display: flex;
    position: absolute;
    left: 0;
    flex-direction: column;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 700ms ease, opacity 700ms ease, visibility 700ms ease;
    z-index: 1;
  }
  .dropdown-menu.show {
    max-height: 200px;
    opacity: 1;
    visibility: visible;
  }
  .header-menu-link {
    color: #fafafa;
    font-weight: 500;
    letter-spacing: -0.02em;
    transition: color 300ms ease, text-decoration 300ms ease;
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: var(--basic-hovered-color-btn);
    text-decoration: underline;
  }

  .header-order-btn {
    display: inline-block;
    padding: 18px 24px;
    border-radius: 60px;
    background-color: var(--basic-color-bt);
    color: #fafafa;
    max-width: 163px;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.02em;
    transition: backgrond-color 300ms ease, box-shadow 300ms ease;
  }

  .header-order-btn:hover,
  .header-order-btn:focus {
    background-color: var(--basic-hovered-color-btn);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  }

  .header-btn {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .header-box {
    max-width: 1440px;
  }
  .header-wrap {
    max-width: 1440px;
  }
}


/* mob menu */

.mob-wrap {
  position: absolute;

  top: 0;
  right: 0;
  min-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 302px 60px 64px 60px;
  overflow-y: scroll;


  transform: translateX(-100%);
  transition: transform 350ms ease;
  z-index: 999;
  background-image: url('../img/hero/red-hero-bg-mob.png'),
    linear-gradient(to right, #1c1d20, #1c1d20);
}

.is-open {
  transform: translateX(0);
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
}

.mob-btn-close {
  position: absolute;
  top: 32px;
  right: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  padding: 0;
  fill: #fafafa;
}

.mob-btn-close:hover,
.mob-btn-close:focus {
  stroke: var(--basic-hovered-color-btn);
}

.mob-menu {
  flex: auto;
}

.mob-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.mob-link {
  color: #fafafa;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
  text-decoration: underline;
}

.modal-btn-order {
  color: #fafafa;
  border-radius: 60px;
  padding: 14px 30px;
  background-color: var(--basic-color-bt);
}
