header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  margin: auto;
}

.header.container {
  padding-top: 32px;
}

.header-left {
  display: flex;
  gap: 8px;
}

.img-header {
  width: 80px;
  height: 80px;
}

.menu-center {
  width: 74px;
  position: relative;
  display: none;
  text-align: center;
  text-decoration: underline;
}

.menu-center-open {
  text-align: center;
  cursor: pointer;
}

.menu-center-list {
  width: auto;
  display: none;
  position: absolute;
}

.menu-center-list.is-open {
  display: block;
}

.menu-center-item a {
  text-decoration: none;
  color: #fafafa;
}

.menu-center-item a:hover {
  color: #ed3b44;
}

.icon-header-logo {
  fill: #fafafa;
}

.header-icon-burger {
  fill: #fafafa;
}

.btn-menu-tablet {
  display: none;
  color: #fafafa;
  height: 50px;
  padding: 14px 31px;
  border-radius: 20px;
  border: none;
  background-color: #ed3b44;
}

.btn-menu-tablet:hover,
.btn-menu-tablet:focus {
  background-color: #e0373f;
}

/* menu */
.modal-header {
  opacity: 0;
  transition: opacity 0.5s, height 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-image: url(../img/header/glass-effect_mob@1x.png);
  background-size: cover;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (min-resolution: 192dpi) {
  .modal-header {
    background-image: url(../img/header/glass-effect_mob@2x.png);
  }
}

.modal-header.is-open {
  opacity: 1;
  height: 100%;
}

.modal-btn-close {
  display: none;
  position: absolute;
  top: 32px;
  right: 18px;
  align-items: center;
  justify-content: center;
  min-width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  z-index: 1;
}

.header-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-icon-close {
  fill: #fafafa;
}

.menu-list {
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: center;
}

.menu-item a {
  color: #fafafa;
  text-decoration: underline;
}

.btn-menu {
  position: absolute;
  bottom: 64px;
  color: #fafafa;
  padding: 14px 31px;
  border-radius: 20px;
  border: none;
  background-color: #ed3b44;
}

.btn-menu:hover {
  background-color: #e0373f;
}

@media only screen and (min-width: 768px) {
  .header {
    position: absolute;
    width: 768px;
    display: flex;
    justify-content: space-between;
  }

  .header-right {
    display: none;
  }

  .menu-center {
    display: block;
  }

  .btn-menu-tablet {
    display: block;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    position: absolute;
    width: 1440px;
    display: flex;
    justify-content: space-between;
  }
}
