.section {
    padding-left: 16px;
    padding-right: 16px;
}

ul,
li,
a {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

}

a {
    text-decoration: none;
}

.hero-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding-bottom: 32px;
    padding-top: 106px;
}

.hero-item {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-links {
    font-family: "Inter Tight",
        sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #fafafa;
}

/* MOBILE ADAPTIVE */
@media screen and (min-width: 375px) {
    .section {
        width: 375px;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../img/hero/hero-bg-mob.png);
    }

    .hero-title {
        font-family: "Inter Tight",
            sans-serif;
        font-weight: 500;
        font-size: 50px;
        line-height: 100%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: #fafafa;
        margin: 0 auto;
        padding-top: 85px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 106px;
    }

    .hero-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 4px;
        padding-bottom: 32px;
        padding-top: 106px;
    }

    .hero-item {
        border: 1px solid rgba(250, 250, 250, 0.2);
        border-radius: 60px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-links {
        font-family: "Inter Tight",
            sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: -0.02em;
        color: #fafafa;
    }
}

/* TABLET */
@media screen and (min-width: 768px) {
    .section {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
        background-image: url(../img/hero/hero-bg-tabl.png);
    }

    .hero-title {
        font-family: "Inter Tight",
            sans-serif;
        font-weight: 500;
        font-size: 90px;
        line-height: 100%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: #fafafa;
        padding-top: 94px;
        padding-left: 32px;
        padding-bottom: 94px;
    }

    .hero-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        gap: 8px;
        padding-bottom: 32px;
        padding-top: 94px;
        right: 32px;
    }

    .hero-item {
        border: 1px solid rgba(250, 250, 250, 0.2);
        border-radius: 60px;
        padding: 18px 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-links {
        font-family: "Inter Tight",
            sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: #fafafa;
    }

    .hero-links-container {
        right: 32px;
    }
}

/* DESKTOP 1440 */
@media screen and (min-width: 1440px) {
    .section {
        width: 1440px;
        padding-left: 32px;
        padding-right: 32px;
        background-image: url(../img/hero/hero-bg-desk.png);
    }

    .hero-title {
        font-family: "Inter Tight",
            sans-serif;
        font-weight: 500;
        font-size: 90px;
        line-height: 100%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: #fafafa;
        margin: 0 auto;
        padding-top: 85px;
        max-width: 1084px;
        padding-bottom: 121px;
    }

    .hero-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        gap: 8px;
        padding-bottom: 32px;
        padding-top: 121px;
        right: 32px;
    }

    .hero-item {
        border: 1px solid rgba(250, 250, 250, 0.2);
        border-radius: 60px;
        padding: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-links {
        font-family: "Inter Tight",
            sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: #fafafa;
    }

    .hero-links-container {
        right: 32px;
    }
}



.hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../img/hero/hero.png);
    margin: 0 auto;
}