.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/hero/hero-bg-mob.png);
}
@media (min-resolution: 192dpi) {
  .hero {
    width: 1440px;
    background-image: url(../img/hero/hero-bg-mob2x.png);
  }
}
.hero-title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  margin: 0 auto;
  padding-top: 248px;
}

.hero-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding-top: 212px;
}

.hero-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-links:hover {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.hero-links {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 9.5px;

  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../img/hero/hero-bg-tabl.png);
  }
  @media (min-resolution: 192dpi) {
    .hero {
      width: 1440px;
      background-image: url(../img/hero/hero-bg-tabl@2x.png);
    }
  }
  .hero-title {
    font-size: 90px;

    padding-top: 254px;
  }

  .hero-list {
    justify-content: right;
    gap: 8px;
    padding-top: 187px;
  }

  .hero-links {
    font-size: 16px;
    padding: 18px 17.5px;
  }
}

/* DESKTOP 1440 */
@media screen and (min-width: 1440px) {
  .hero {
    width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.png);
  }
  @media (min-resolution: 192dpi) {
    .hero {
      width: 1440px;
      background-image: url(../img/hero/hero-bg-desk@2x.png);
    }
  }

  .hero-title {
    max-width: 1084px;
    padding-top: 254px;
  }

  .hero-list {
    gap: 8px;

    padding-top: 187px;
  }

  .hero-links {
    letter-spacing: -0.02em;
    color: #fafafa;
  }
}
