.hero {
    margin: 0 auto;
    padding-top: 281px;
    background: linear-gradient(
      -90deg,
      #1c1d20 49.69%,
      #69292D 67.71%,
      #ED3B44 99.91%
    );
    background-image: url(../img/hero/hero-bg-desk.png);
    background-repeat: no-repeat;
    background-position: -268px;
    background-size: 578px 100%;
  }
  
  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: url(../img/hero/hero-bg-desk@2x.png);
    }
  }
  
  .hero-wrapper {
    display: flex;
    flex-direction: column;
    gap: 212px;
    padding-bottom: 32px;
  }
  
  .hero-title {
    font-size: 50px;
    font-weight: 500;
    line-height: 1; /* 100% */
    letter-spacing: -1.5px;
    text-transform: uppercase;
  }
  
  .hero-link-box {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.28px;
  }
  
  .hero-social-list {
    display: flex;
    gap: 4px;
  }
  
  .hero-social-link {
    display: block;
    width: 37px;
    height: 37px;
    padding: 10px 8px;
    text-align: center;
    border-radius: 60px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .hero-address-email {
    display: block;
    height: 37px;
    padding: 10px 12px;
    text-align: center;
    border-radius: 60px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    font-style: normal;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  @media screen and (min-width: 768px) {
    .hero {
      background-position: -147px;
      background-size: 728px 100%;
      padding-top: 300px;
    }
  
    .hero-wrapper {
      gap: 187px;
    }
  
    .hero-title {
      font-size: 90px;
      letter-spacing: -2.7px;
    }
  
    .hero-link-box {
      font-size: 16px;
      justify-content: flex-end;
      gap: 8px;
    }
  
    .hero-social-list {
      gap: 8px;
    }
  
    .hero-social-link {
      width: 55px;
      height: 55px;
      padding: 18px 16px;
    }
  
    .hero-address-email {
      height: 55px;
      padding: 18px 24px;
    }
  }
  
  @media screen and (min-width: 1440px) {
    .hero {
      background-position: left;
      background-size: 728px 100%;
      padding-top: 300px;
    }
  
    .hero-wrapper {
      gap: 243px;
    }
  
    .hero-title {
      width: 1084px;
      margin: 0 auto;
    }
  
    .hero-social-link:hover,
    .hero-address-email:hover {
      outline: none;
      border: 1px solid rgba(255, 255, 255, 1);
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    }
    }
  