.project-container {
  width: 311px;
  height: 952px;
  margin-top: 64px;
}

 
.projects-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  display: flex;
  align-self: flex-start;
  margin-bottom: 32px;
}

.project-swiper {
  width: 100%;
  height: 812px;
  border-radius: 24px;
  margin-bottom: 32px;
  position: relative;
}

.projects-title-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fafafa;
  height: 50%;
  padding: 32px 32px 32px 32px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 6px;
  align-items: flex-start;
  align-content: flex-start;
}

.projects-list-item {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  padding: 13px 18px;
  color: #1c1d20;
}

.project-head-text {
  font-weight: 500;
  font-size: 24px;
  font-style: normal;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: #1c1d20;
  font-family: 'Inter Tight';
  width: 279px;
}

.project-btn {
  text-align: center;
 }  


.projects-img-block {
  display: flex;
  align-items: center;
  background-color: #242527;
  border-radius: 0 0 24px 24px;
  padding: 100px 16px;
}

.project-arrow {
  width: 116px;
  height: 52px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 12px;
}

.btn-circle {
  width: 52px;
  height: 52px;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.5);
  flex-shrink: 0;
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.project-arrow .swiper-button-prev {
  position: relative;
  left: -12px;
  top: 10px;
}

.project-arrow .swiper-button-next {
  position: relative;
  left: 12px;
  top: 10px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  fill: rgba(250, 250, 250, 0.1);
  stroke: #fff;
  cursor: pointer;
  flex-shrink: 0;
}

svg.swiper-button-icon.icon-left,
svg.swiper-button-icon.icon-right {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .projects-swiper-btn {
    padding: 32px;
  }

  .project-container {
    min-width: 640px;
    margin-top: 96px;
  }

  .projects-title-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .project-head-text {
    width: 494px;
    font-size: 44px;
    line-height: 100%;
  }

  .projects-img-block {
    width: 100%;
    height: 50%;
    padding: 120px 45px;
  }

  .project-arrow {
    width: 156px;
    height: 68px;
    gap: 20px;
  }

  .btn-circle {
    width: 68px;
    height: 68px;
    padding: 18px;
  }

  .project-arrow .swiper-button-prev {
    position: relative;
    left: -20px;
    top: 10px;
  }

  .project-arrow .swiper-button-next {
    position: relative;
    left: 20px;
    top: 10px;
  }

  svg.swiper-button-icon.icon-left,
  svg.swiper-button-icon.icon-right {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .project-container {
    width: 1303px;
    height: 813px;
  }

  .project-swiper {
    height: auto;
  }
  .projects-list {
    align-self: start;
    display: inline-flex;
    align-items: flex-start;
    align-self: start;
    gap: 6px;
  }

  .project-head-text {
    align-self: start;
    width: 494px;
    color: #1c1d20;
    font-size: 44px;
    line-height: 44px;
    letter-spacing: -1.32px;
    margin-bottom: 32px;
  }



  .swiper-slide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .projects-img-block {
    border-radius: 0 24px 24px 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 625px;
    flex-shrink: 0;
    padding: 130px 0 130px 0;
  }

  .projects-title-block {
    border-radius: 24px 0 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 625px;
    padding: 64px;
    background: #fafafa;
  }
}
